#charWrapper {
    float: left;
    width: 100%;
}

.my {
    height: 120px;
    width: 300px;
    border: 1px solid black;
    float: left;
}

.myName {
    border-bottom: 1px solid black;
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
}

.myHealth {
    width: 290px;
    margin-left: 5px;
    margin-top: 10px;
    height: 10px;
    background-color: red;
}

.myMind {
    width: 290px;
    margin-left: 5px;
    height: 10px;
    background-color: #03c;
}

.myPower {
    width: 290px;
    margin-left: 5px;
    height: 10px;
    background-color: #0c3;
}

.myBuffContainer {
    //border: 1px solid black;
    width: 288px;
    height: 40px;
    margin-left: 5px;
    margin-top: 10px;
}

.myBuff {
    border: 1px solid black;
    height: 19px;
    width: 19px;
    background-color: #ff6600;
    float: left;
    margin-right: 1px;
}

.en {
    height: 120px;
    width: 300px;
    border: 1px solid black;
    float: right;
}

.enName {
    border-bottom: 1px solid black;
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
}

.enHealth {
    width: 290px;
    margin-left: 5px;
    margin-top: 10px;
    height: 10px;
    background-color: red;
}

.enMind {
    width: 290px;
    margin-left: 5px;
    height: 10px;
    background-color: #03c;
}

.enPower {
    width: 290px;
    margin-left: 5px;
    height: 10px;
    background-color: #0c3;
}

.enBuffContainer {
    //border: 1px solid black;
    width: 288px;
    height: 40px;
    margin-left: 5px;
    margin-top: 10px;
}

.enBuff {
    border: 1px solid black;
    height: 19px;
    width: 19px;
    background-color: #ff6600;
    float: left;
    margin-right: 1px;
}

.skilltree {
    border-spacing: 10px;
    border-collapse: separate;
}
.skilltree td {
    height: 40px;
    width: 140px;
    margin: 20px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.skillElement {
    background-color: blue;
    color: white;
    text-align: center;
    cursor: pointer;
}

.skillElementHover {
    background-color: green;
    color: yellow;
    text-align: center;
}

.skillElementClicked {
    background-color: green;
    color: yellow;
    text-align: center;
    border-color: yellow;
}

#skillDetails {
    background-color: blue;
    color: white;
    padding: 10px;
    min-height: 100px;
    margin: 0;
}

#skillWrapper {
    margin: auto;
    padding: 0;
    width: 401px;
    border: 1px solid white;
}

#skillWrapper div table th {
    border-bottom: 1px solid white;
}

#skillWrapper div table td {
    padding-left: 5px;
    padding-right: 5px;
}

#skillMods {
    min-height: 150px;
    width: 200px;
    border-right: 1px solid white;
    float: left;
}

#abilities {
    min-height: 150px;
    width: 200px;
    float: right;
}

#buttonWrapper {
    height: 20px;
    width: 401px;
    margin: auto;
    padding: 0;
    padding-top: 5px;
    text-align: center;
}

.skillName {
    float: left;
    margin-left: 40px;
    margin-top: 5px;
}

.xpbar {
    width: 5px;
    height: 50px;
    background-color: black;
    float: right;
}